h1 {
    text-align: center;
}

hr {
    margin: -1% 10% 2% 10%;
}

#card-div {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.card {
  width: calc(25% - 250px);
  height: 250px;
}

.card-inner {
  position: relative;
  width: 250px;
  height: 250px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 250px;
  height: 250px;
  backface-visibility: hidden;
  box-sizing: border-box;
}

.card-front {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
}
