
li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: rgb(150 157 177);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: red;
}

#card-div {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.card {
  flex: 0 1 calc(33.333% - 10.66px);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-sizing: border-box;
}